body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgb(15, 15, 15);
}

header {
    display: block;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    padding: 5px 0 5px 0;
}

nav .contact-btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
}

nav img {
    max-width: 64px;
    max-height: 48px;
    width:auto;
    rotate: 340deg;
    transition: transform 0.3s ease;
}

nav a:hover img {
    transform: scale(1.1);
    rotate: 20deg;
}

.navcenter{
    margin-left: auto;
    margin-right: auto;
}

.navmenu {
    display: flex;
}

.navcontact {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin: auto;
    gap: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

/* page content */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section {
    display: block;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    float:left;
    width:50%;
    min-height: 1px;
}

.content-padding {
    padding: 20px 30px;
}

.content-margin {
    margin-top: 40px;
    margin-bottom: 50px;
}

.col-full {
    max-width: 100%;
    min-height: 1px;
    
}

.text-center {
    text-align: center;
}

.header-section {
    font-size: 15px;
    color: #FEA900;
    margin-bottom: 10px;
}

.contact-container {
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 30%
}

/* Cover */
cover {
    height: 100vh;
    background: url('./contoh.png') no-repeat;
    background-size: auto 200vh;
}

cover .content {
    z-index: 1;
    position: relative;
}

cover .content h1 {
    font-size: 5rem; 
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 2px white; 
}

cover .content h1 span {
    display: block;
    font-size: 11rem; 
    color: white;
    -webkit-text-stroke:0;
}

cover {
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 100vh; /
}

@media (max-width: 1024px){
    cover .content h1 {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: transparent;
        -webkit-text-stroke: 2px white;
    }
    
    cover .content h1 span {
        display: block;
        font-size: 7rem; /*Ukuran takanasha taryu */
        color: white;
        -webkit-text-stroke:0;
    }
}

cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.21);
    z-index: 1;
}

cover .fading-btn {
    margin-top: 20px;
    padding: 15px 35px;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    border-radius: 40px;
    text-decoration: none;
    transition: all 0.3s;
}

cover .fading-btn:hover {
    background: white;
    color: black;
}

/* About Me */
#about-me {
    padding: 60px 0;
}

#about-me p {
    margin-left: 87px;
    font-size: 15px;
    color: #FEA900;
}

#about-me hr {
    border: none;
    height: 2px;
    background-color: white;
    width: 90%;
    margin: none;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.left-section {
    max-width: 40%;
    position: relative;
    display: inline-block;
}

.cover {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: rgba(250, 250, 250, 1);
    z-index: 1; 
    border-radius: 0 0 0 15px;

}

#about-me img {
    display: block;
    width: 80%;
    height: auto;
    position: relative;
    z-index: 2;
}

.depan {
    position: absolute; 
    bottom: 0%;
    left: 0;
    width: 215%;
    height: 5%;
    background-color: rgb(255, 255, 255);
    z-index: 3; 
    border-radius: 0 15px 15px 15px;
}

.right-section {
    max-width: 40%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.right-section h2 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #FEA900;
    font-weight: lighter;
}

.right-section h3 {
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: 2px;
}

.right-section h4 {
    font-size: 16px;
    color: #aaaaaa;
    margin-top: 14px;
    margin-bottom: 5px;
    display: block;
}


.profile-image {
    width: 80%;
    border-radius: 10px;
}

.info-list {
    list-style: none;
    padding: 0;
    color: white;
    margin-top: 20px;
}

.info-list li{
    font-size: 16px;
    margin-bottom: 8px;
}

.info-list li strong {
    font-weight: bold;
    color: white;
}

.info-list div li {
    color: #aaaaaa;
}

.right-section h3 {
    font-size: 2rem;
    color: white;
}

.stats {
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

.stat-item {
    text-align: center;
    color: white;
}

.stat-number {
    font-size: 3rem;
    font-weight: bold;
    color: #FEA900;
}

.stat-description {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Social */
.social {
    padding: 2px;
}

.social .phone {
    font-size: 24px;
    color: #7baaff;
    text-decoration: none;
}

.social .dark {
    color:rgb(150, 150, 150);
}

.social-icon-div {
    display: block;
}

.social-icons img {
    max-width: 32px;
    margin-top: 10px;
    margin-right: 14px;
}

.contact {
    padding-right: 20px;
}

.contact .half {
    float: left;
    width: 48%;
}

.contact .half-right {
    float: right;
    width: 48%;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact .input-row {
    display: block;
}

.contact input, .contact textarea {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #333;
    border: 1px solid #444;
    color: #fff;
    border-radius: 5px;
    width: 100%;
}

.contact .textarea-tall {
    height: 120px;
}

.contact .button {
    padding: 15px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

/* Experience */

.sec-experience {
    width: 70%;
    background-color: #4c4c4c;
    padding: 5% 8%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.sec-experience .timeline {
    padding: 10px 0;
    margin: 20px 0;
}

.sec-experience .timeline .item {
    display: flex;
    margin-bottom: 30px;
}

.sec-experience .timeline .item h3 {
    margin: 0;
    color: #fefefe;
    font-weight: 600;
}

.sec-experience .timeline .item p {
    margin: 5px 0 0;
    color: #d1d0d0;
}


.sec-experience .timeline .item .date {
    flex: 6;
}

.sec-experience .timeline .item .icon {
    flex: 1;
}

.sec-experience .timeline .item .content {
    float: right;
    width: 60%;
    padding-left: 30px;
    border-left: 2px dashed #fefefe;
}

.sec-experience .timeline .item .content h3 {
    margin: 0;
    color: #fefefe;
    font-weight: 600;
}

.sec-experience .timeline .item .content p {
    margin: 5px 0 0;
    color: #d1d0d0;
    line-height: 1.6;
}

/* Footer */
.footer {
    padding: 20px;
   /* background-color: #2a2a2a; */
    color: #aaa;
    text-align: center;
}